html{
	font-size: 12px;
	-webkit-transform-origin-x: 0;
	/*-webkit-transform: scale(0.90);*/
	/*这里导致整体的html页面缩小至0.9倍，不适配所有的设备*/
}

.lef{
    float:left!important;
}

.margin4 {
	margin-right: -1.5rem;
	margin-top: -1.8rem;
}

.margin6 {
	margin-top: -0.5rem;
	
}

.a2 {
	font-size: 1rem;
	color: grdy;
	margin-top: 1.5rem;
}

.aImgBox img{
	width: 5.6rem;
    float: left;
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-right: 1.2rem;
}

.wxTitle,
.font-bold{
	font-size:1.2rem;
}
.taskPercentBox{
	width: 100%;
	height:16rem;
	margin:0 auto;
}

.taskPercentBox .ct1Box,
.taskPercentBox .ct3Box{
	width:100%;
	height:100%;
	margin:0 auto;
}

#project-title{
	font-weight:1.6rem;
	font-weight:600;
}

.taskPercentBox .ct1Box h4,
.taskPercentBox .ct3Box h4{
	width:100%;
	height:8%;
}

.taskPercentBox .ct1Box #ct1, 
.taskPercentBox .ct3Box #ct3{
	width:100%;
	height:90%;
}


#taskFirstList,
#taskSecondList{
	width:100%;
	overflow: hidden;
	height:auto;
}

#taskFirstList ul,
#taskSecondList ul{
	height:auto;
	border-bottom:1px solid #ddd;
	text-align:center;
	overflow: hidden;
	margin:0 auto;
	width:100%;/*设置表格占100%(新增)*/
}

#taskFirstList ul li,
#taskSecondList ul li{
	float:left;
	overflow: hidden;
	font-size:1rem;
	margin-top:0.6rem;
	margin-bottom:0.26rem;
	height:auto;
}




/* 选项卡 */
*{ margin: 0; padding: 0;border:0;}
    ul,li{ list-style: none;}
    .tabClick{ background: #f3f3f3; overflow: hidden;}
    .tabClick li{ height:40px; line-height: 40px; width: 25%; float: left; text-align: center;font-size:1rem;}/*调整了margin(新增)*/
    .tabClick li.active{ color: #099; transition: 0.1s; font-weight: bold;}
    .tabCon{ overflow: hidden;}
    .tabBox{ position: relative;}
    /* .tabList{word-break: break-all; width:100%;float:left; line-height:100px; text-align:center; color:#D3D3D3; font-size:36px; font-family: "Arial Black"} */
    .lineBorder{ height: 2px; overflow: hidden; border-bottom:1px solid #099; background: #f3f3f3;}
    .lineDiv{ background: #099; height: 2px; width: 25%;}